body{
    background-color: rgb(170, 165, 165);
}
.textoanimado{
    animation-name: texto;
    animation-duration: 3.5s;
}
@keyframes texto {
    from{
        transform: translateX(1200px);
    }
    to{
        transform: translateX(0px);
    }
}