*{
    font-family: "Rokkitt";
    src: url(../proyecto2/static/Rokkitt-Bold.ttf);
    font-size: 20px;
    text-align: justify;
}
.titulo{
    font-family: "Rokkitt";
    src: url(static/Rokkitt-Bold.ttf);
    font-size:  70px;;
    color: #d3d3d3;
    text-align: center;
}
.header{
    background-color: black;
    padding-left: 5px;
    padding-top: 20px;
    margin: 0px;
    background-image: linear-gradient(to right, #000000, #191818, #2b2a29, #3e3c3b, #51504e);
}
body{
    background-color: #D3D3D3;
    margin-top: 0px;

}
article{
    background-color: #808080;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    grid-area: menu;

}
article span{
    background-color: #FAEBD7;
    width: 90px;
    height: 25px;
    margin: 5px;
    padding: 7px 10px;
    border: inset;
    text-align: center;
}
.pieDePagina{
    background-color: #808080;
    font-family: "Rokkitt";
    src: url(static/Rokkitt-Bold.ttf);
    font-size:  20px;;
    color: #d3d3d3;
    text-align: center;
    line-height: 25px;
    margin-left: 10px;

}
p{
    font-family: "Rokkitt";
    src: url(static/Rokkitt-SemiBold.ttf);
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    padding: 15px;
}
.sinsubrayar{
    text-decoration: none;
    color: #180297;
}
footer p{
    text-align: center;
    line-height: 0;
}
nav{
    margin-left: 20px;
    margin-right: 50px;
    grid-area: cabeza;
}
.display{
    display: inline;
}
.margin{
    margin: 15px;
}
.margenIzq{
    margin-left: 15px;
}
.fondo-imagen{
    background-image: url(imagenes/dalla2.jpeg);
    background-position: center center;
    width: 1200px;
    height: 450px;
    position: absolute;
    left: 650px;
    top: 480px;
}

.grid-repetitivo{
    display: grid;
    grid-template-columns: 2fr repeat(5, 1fr);
    grid-template-rows: repeat(5, 2fr);
}
div{
    color: rgb(0, 0, 0);
    background-color: orange;
    border: 2px solid black;
    text-align: center;
    background-image: linear-gradient(to right bottom, #e00b0b, #e44001, #e75d00, #e97600, #eb8c12);
}
.bordes{
    border: solid  1,5px black;
}
.fotoflex{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.links{
    font-family: "Rokkitt";
    src: url(static/Rokkitt-Bold.ttf);
    font-size:  20px;
    color: rgb(20, 32, 196);
    text-decoration: none;
}
.transicion {
    transition: width 2.5s, height 2.5s;
}
.transicion:hover{
    width: 1200px;
    height: 700px;
}
.textoanimado{
    animation-name: texto;
    animation-duration: 3.5s;
}
@keyframes texto {
    from{
        transform: translateX(1200px);
    }
    to{
        transform: translateX(0px);
    }
}