*{
    margin: 0; padding: 0; font-family: "Rokkitt";
    src: url(static/Rokkitt-Bold.ttf);
}



/*Mobile*/
@media (max-width:479px) {
    
    #grid-areas{
        display: grid;
        grid-template-areas: 
        /*1 columnas y 5 filas y elimino el texto principal para mobile*/
        "cabeza"
        "menu"
        "lateral"
        "foto"
        "pie";
        grid-template-columns: 100vw;
        grid-template-rows: 1fr, 2fr, 2fr, 2fr, 1fr;
    }
    nav{
        grid-area: cabeza;
        background-color: black;
        padding: 10px;
        margin-left: 5px;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
    }
    article{
        grid-area: menu;
        background-color: #808080;
        font-family: "Rokkitt";
        src: url(static/Rokkitt-Bold.ttf);
        font-size:  25px;
        text-align: center;
        padding: 25px;
    }
    main{
        grid-area: pricipal;
        display: flex;
    }
    aside{
        grid-area: lateral;
    }
    section{
        grid-area: foto;
    }
    footer{
        grid-area: pie;
        background-color: #808080;
        font-family: "Rokkitt";
        src: url(static/Rokkitt-Bold.ttf);
        font-size:  20px;;
        color: #d3d3d3;
        text-align: center;
        line-height: 25px;
        margin-left: 10px;
        text-decoration: none;
        text-align: center;
        padding: 15px;
    }
    .titulo{
        font-family: "Rokkitt";
        src: url(static/Rokkitt-Bold.ttf);
        font-size: 60px;
        color: #d3d3d3;
    }
    .links{
        font-family: "Rokkitt";
        src: url(static/Rokkitt-Bold.ttf);
        font-size:  20px;
        color: rgb(20, 32, 196);
        text-decoration: none;
        text-align: center;
    }
    body{
        background-color: rgb(224, 224, 224);
    }
    aside{
        font-family: "Rokkitt";
        src: url(static/Rokkitt-Bold.ttf);
        font-size:  25px;
        text-align: center;
    }
    .menubarra{
        margin: 15px;
        padding: 15px;
        font-family: "Rokkitt";
        src: url(static/Rokkitt-Bold.ttf);
        font-size:  25px;
        color: rgb(14, 0, 139);
        text-decoration: none;
        text-align: center;
        border-style: outset;
        border-radius: 5px;
    }
}

/*MEDIA QUERIES*/
/*DESKTOP*/
@media (min-width: 1024px){
    
    #grid-areas{
        display: grid;
        grid-template-areas: 
        /*2 columnas y 5 filas*/
        "cabeza cabeza"
        "menu menu"
        "principal lateral"
        "foto lateral"
        "pie pie";
        grid-template-columns: 65vw 35vw;
        grid-template-rows: 100px 75px 400px 600px 100px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
    nav{
        grid-area: cabeza;
        background-color: black;
        padding: 10px;
        margin-left: 5px;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
    }
    article{
        grid-area: menu;
        background-color: #808080;
        font-family: "Rokkitt";
        src: url(static/Rokkitt-Bold.ttf);
        font-size:  25px;
        text-align: center;
        padding: 25px;
    }
    main{
        grid-area: pricipal;
        display: flex;
    }
    aside{
        grid-area: lateral;
    }
    section{
        grid-area: foto;
    }
    footer{
        grid-area: pie;
        background-color: #808080;
        font-family: "Rokkitt";
        src: url(static/Rokkitt-Bold.ttf);
        font-size:  20px;;
        color: #d3d3d3;
        text-align: center;
        line-height: 25px;
        margin-left: 10px;
        text-decoration: none;
        text-align: center;
        padding: 15px;
    }
    .titulo{
        font-family: "Rokkitt";
        src: url(static/Rokkitt-Bold.ttf);
        font-size: 60px;
        color: #d3d3d3;
    }
    .links{
        font-family: "Rokkitt";
        src: url(static/Rokkitt-Bold.ttf);
        font-size:  20px;
        color: rgb(20, 32, 196);
        text-decoration: none;
        text-align: center;
    }
    body{
        background-color: rgb(224, 224, 224);
    }
    aside{
        font-family: "Rokkitt";
        src: url(static/Rokkitt-Bold.ttf);
        font-size:  25px;
        text-align: center;
    }
    .menubarra{
        margin: 15px;
        padding: 15px;
        font-family: "Rokkitt";
        src: url(static/Rokkitt-Bold.ttf);
        font-size:  25px;
        color: rgb(14, 0, 139);
        text-decoration: none;
        text-align: center;
        border-style: outset;
        border-radius: 5px;
    }

}