

div{
    p{
        font-family: "Rokkitt";
        src: url(../static/Rokkitt-ExtraBold.ttf);
        font-size: 25px;
        text-align: center;

    }
}
$grisbody: #B0B0AE;
body{
    background-color: $grisbody;
}
@mixin tamanio ($ancho, $altura){
    width: $ancho;
    height: $altura;
    }
.imagenes{
    @include tamanio(600px,400px)
}


@each $titulos in h1, h2, h3, h4 {
    .fuente-#{$titulos} {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 30px;
    }  
}

